.chart-container {
    position: relative;
    width: 60vw;
    margin: 0 auto;
}

.none {
    display: none;
}

.flex {
    display: flex;
}

.chart-container2{
    position: relative;
    width: 30vw;
}
